<%= form_for [@monitored_resource,@document_group] do |f| %>
  <% if @document_group.errors.any? %>
    <div data-alert class="alert-box warning round" id="error_explanation">
      <h2><%= pluralize(@document_group.errors.count, "error") %> prohibited this document_group from being saved:</h2>

      <ul>
      <% @document_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <%= f.hidden_field :monitored_resource_id %>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <%= f.label :resources %>
        <%= f.collection_select :resource_ids, @monitored_resource.resources.ungrouped(@document_group), :id, :doc_group_title, {}, { :size=> 20, :multiple => true} %>
      </div>
      <div class="large-6 columns">
        <p>Selected Documents:</p>
        <ul>
        <% @document_group.resources.each do |resource| %>
            <li><%= resource.title %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
       <div class="large-12 columns"><%= f.submit :class => 'button tiny' %></div>
    </div>
<% end %>
