<% content_for :title, 'Permissions for file: ' + @monitored_resource.title %>
<h2>Reports for: <%= @monitored_resource.title %></h2>
<p><strong>Total number of resources:</strong> <%= @monitored_resource.resources.length %></p>
<% unless @mime_count.blank? %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "calendar"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['MimeType', 'Count'],
                <% @mime_count.sort_by {|k, v| v}.reverse.each do |type, count| %>
                    ['<%= type %>', <%= count %>],
                <% end %>
            ]);

            var options = {
                title: 'Occurrence of different MimeTypes'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
    <h4>Occurrence of different MimeTypes:</h4>
    <div id="piechart" style="width: 900px; height: 600px;"></div>
<% end %>

<script type="text/javascript">
    google.setOnLoadCallback(drawChart2);

    function drawChart2() {
        var dataTable2 = new google.visualization.DataTable();
        dataTable2.addColumn({ type: 'date', id: 'Date' });
        dataTable2.addColumn({ type: 'number', id: 'Won/Loss' });
        dataTable2.addRows([
        <% @revisions_per_day.each do |date, count| %>
            [ new Date(<%= date %>), <%= count %> ],
        <% end %>
        ]);

        var chart2 = new google.visualization.Calendar(document.getElementById('calendar_basic'));

        var options2 = {
            title: "Revisions per day",
            height: 550
        };

        chart2.draw(dataTable2, options2);
    }
</script>

<h4>Revisions per day:</h4>
<div id="calendar_basic" style="width: 1000px; height: 550px;"></div>