<% content_for :title, 'List of Monitored Resources' %>
<h2>Monitored Resource: <%= @monitored_resource.title %></h2>

<% unless @monitored_resource.structure_indexed? %>
    <%= link_to "Index Structure", mr_index_structure_path(@monitored_resource.id), :class => 'button tiny' %>
<% end %>
<% unless @monitored_resource.changehistory_indexed? %>
    <% if @monitored_resource.structure_indexed? %>
        <%= link_to "Index Change History", mr_index_changehistory_path(@monitored_resource.id), :class => 'button tiny' %>
    <% else %>
       <span class="has-tip button secondary tiny" title="Change History can only be indexed once structure has been indexed." data-tooltip="" data-width="300">Index Change History</span>
    <% end %>
<% end %>

<h4>File List</h4>
<% if @monitored_resource.structure_indexing? %>
    <div class="callout panel">
      <span class="spin1 spinner"></span><i>Indexing in progress! Currently X jobs are running. Please reload to refresh status!</i>
    </div>
<% end %>

<% unless @monitored_resource.resources.blank? %>
<table id="files-table">
  <thead>
  <tr>
    <th>File Title</th>
    <th>Created Date</th>
    <th>Last Modified Date</th>
    <th>Trashed</th>
  </tr>
  </thead>
  <tbody>
  <% @monitored_resource.resources.each do |resource| %>
      <tr>
        <td><%= link_to resource.shortened_title, resource.alternate_link, :target => "_blank" %></td>
        <td><%= resource.created_date %></td>
        <td><%= resource.modified_date %></td>
        <td><%= resource.trashed %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>