<% content_for :title, 'List of Monitored Resources' %>
<h3>Monitored Resource: <%= @monitored_resource.title %></h3>

<% unless @monitored_resource.structure_indexed? %>
    <%= link_to "Index Structure", mr_index_structure_path(@monitored_resource.id), :class => 'button tiny' %>
<% end %>
<% unless @monitored_resource.changehistory_indexed? %>
    <%= link_to "Index Change History", mr_index_changehistory_path(@monitored_resource.id), :class => 'button tiny' %>
<% end %>

<h4>File List</h4>
<% unless @monitored_resource.resources.blank? %>
<ul>
	<% @resources.each do |r| %>
	<li><%= r.title %> (<%= r.mime_type %>)</li>
	<% end %>
</ul>
<% end %>