<% content_for :title, 'List of Monitored Resources' %>
<h2>Monitored Resource: <%= @monitored_resource.title %></h2>

<% unless @monitored_resource.structure_indexed? %>
    <%= link_to "Index Structure", mr_index_structure_path(@monitored_resource.id), :class => 'button tiny' %>
<% end %>
<% unless @monitored_resource.changehistory_indexed? %>
    <%= link_to "Index Change History", mr_index_changehistory_path(@monitored_resource.id), :class => 'button tiny' %>
<% end %>

<h4>File List</h4>
<% if @monitored_resource.structure_indexing? %>
    <div class="callout panel">
      <span class="spin1 spinner"></span><i>Indexing in progress! Currently X jobs are running. Please reload to refresh status!</i>
    </div>
<% end %>

<% unless @monitored_resource.resources.blank? %>
<ul>
	<% @resources.each do |r| %>
	<li><%= r.title %> (<%= r.mime_type %>)</li>
	<% end %>
</ul>
<% end %>