<% content_for :title, 'List of Monitored Resources' %>

<h2>Monitored Resource: <%= @monitored_resource.title %></h2>

<span class="has-tip" title="To update resource-list and revisions for each resource." data-tooltip>
    <%= link_to "Index Structure", index_structure_monitored_resource_path(@monitored_resource), :class => 'button tiny' %>
</span>
<span class="has-tip" title="To update resource-revisions for non-indexed resources" data-tooltip>
    <%= link_to "Fetch Missing Revisions", missing_revisions_monitored_resource_path(@monitored_resource), :class => 'button tiny' %>
</span>
<span class="has-tip" title="To update resource-revisions for non-indexed resources" data-tooltip>
    <%= link_to "Download Revisions", download_revisions_monitored_resource_path(@monitored_resource), :class => 'button tiny' %>
</span>

<h4>File List</h4>
<% if @monitored_resource.jobs.length > 0 %>
    <div class="callout panel">
      <span class="spin1 spinner"></span><i>Indexing in progress! Currently <%= @monitored_resource.jobs.length %> jobs are running.
      <%= link_to "Refresh status!" %></i>
    </div>
<% end %>

<% unless @monitored_resource.resources.blank? %>
    <div>
      <label for="filter_periods">Filter by Period:</label>
      <% periods_array = [['--- none ---','']].concat MonitoredPeriod.all.order('start_date ASC').map { |period| [period.title, period.id] } %>
      <%= select_tag(:filter_periods, options_for_select(periods_array) ) %>
    </div>
    <div class="row">
      <label for="filter_mimetype">Filter by MimeType:</label>
      <% mimetype_array = Resource.mimetypes_for_monitored_resource(@monitored_resource.id) %>
      <%= select_tag(:filter_mimetype, options_for_select(mimetype_array) ) %>
    </div>

    <table id="files-table" data-source="<%= monitored_resource_url(@monitored_resource, :format => :json) %>">
      <thead>
      <tr>
        <th>Resource Title</th>
        <th>Created Date</th>
        <th>Last Modified Date</th>
        <th><span class="fi-page-multiple" style="padding-right: 20px;"></span></th>
        <th><span class="fi-torsos" style="padding-right: 20px;"></span></th>
        <th><span class="fi-web" style="padding-right: 20px;"></span></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
<% end %>

<% unless @mime_count.blank? %>
    <h4>Files by type:</h4>
    <ul>
      <% @mime_count.sort_by {|k, v| v}.reverse.each do |type, count| %>
          <li><b><%= type %>: </b> <%= count %></li>
      <% end %>
    </ul>
    <p>@TODO: use chart</p>
<% end %>

<h4>Files per period:</h4>
<p>@TODO: + good visualization here!</p>