<div class="row">
  <div class="large-6 columns panel">
    <h3>Sign in</h3>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in", :class => 'button tiny' %></div>
    <% end %>
    <p><%= render "devise/shared/links" %></p>
  </div>
  <div class="large-6 columns">
    <div class="panel">
      <h3>Welcome</h3>
      <p>Please log-in to proceed!</p>
      <p>You can either log-in/ sign-up with your <em>Google Account</em> in order to get started with monitoring your shared resource, or log-in with a researcher account.</p>
    </div>
  </div>
</div>