<% content_for :title, 'List of Changes for resource' %>
<h2><%= @resource.title %> <small>(<%= @resource.mime_type %>)</small></h2>

<% if @resource.jobs.length > 0 %>
    <div class="callout panel">
      <span class="spin1 spinner"></span><i>Indexing in progress! Currently <%= @resource.jobs.length %> jobs are running.
      <%= link_to "Refresh status!" %></i>
    </div>
<% end %>

<ul>
  <li><b>FileID:</b> <%= @resource.gid %></li>
  <li><b>created_date:</b> <%= @resource.created_date %></li>
  <li><b>modified_date:</b> <%= @resource.modified_date %></li>
  <li><b>last_modifying_username:</b> <%= @resource.last_modifying_username %></li>
  <li><b>Number of Revisions:</b> <%= @resource.revisions.length %>
    <% unless @resource.monitored_resource.permission_groups.nil? %>
    <ul>
      <% @resource.revisions_by_permission_group.each do |id, count| %>
          <li><%= id.blank? ? '<i>file-based</i>'.html_safe : PermissionGroup.find(id).name %>: <%= count %></li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <li><b>Number of collaborators:</b> <%= @resource.collaborators.length %>
    <ul>
      <% @resource.collaborators.each do |id,count| %>
        <li><%= Permission.find(id).title %>: <%= count %></li>
      <% end %>
    </ul>
  </li>
  <% unless @resource.comments.blank? %>
      <li><b>Comments:</b>
        <ul>
          <% @resource.comments.each do |comment| %>
            <li><%= comment.content %>, <%= comment.status %>, <%= comment.author %> (<%= comment.replies.length %>)</li>
              <% unless comment.replies.empty? %>
                <ul>
                <% comment.replies.each do |reply| %>
                  <li><%= reply.content.blank? ? '<i>empty</i>'.html_safe : reply.content %>, <b><%= reply.status %></b>, <%= reply.author %></li>
                <% end %>
                </ul>
              <% end %>
          <% end %>
        </ul>
      </li>
  <% end %>
</ul>

<h3>Changes List - <small>Showing: <%= @resource.revisions.exclude_collaborated_and_merged.length %> of <%= @resource.revisions.length %> revisions.
    <% nbr_weak = Revision.count_weak(@resource.revisions.exclude_collaborated_and_merged) %>
    <% if false %>(<%= nbr_weak %> weak)<% end %></small></h3>
<% unless @resource.is_folder? || @resource.revisions.length.eql?(0) %>
    <table>
      <thead>
      <tr>
        <th>Revision</th>
        <th>Modification Date</th>
        <th>Last Modifying UserName</th>
        <th>Download</th>
      </tr>
      </thead>
      <tbody>
      <% @resource.revisions.exclude_collaborated_and_merged.each do |revision| %>
          <tr <%= revision.collaboration.blank? ? '' : 'class="strong"'.html_safe %>">
            <td><%= link_to_if (!revision.collaboration.blank?), revision.gid,
                merged_revisions_monitored_resource_resource_path(@monitored_resource, @resource, revision.id),
                :data => { 'reveal-id' => "modal", 'reveal-ajax' => "true" }, :class => 'reveal-link' %>
              <% if revision.team_collaboration? %><span class="fi-torsos-all"></span>
                  <% if Revision.collaboration_is_global?(revision, @resource.monitored_resource_id) %><span class="fi-web"></span><% end %>
                  (<%= revision.collaboration.length+1 %>)
              <% elsif !revision.merged.blank? %><span class="fi-page-multiple"></span> (<%= revision.merged.length+1  %>)<% end %>
            </td>
            <td><%= revision.modified_date.to_s(:db) %></td>
            <td><%= revision.permission.email_address.blank? ? revision.permission.name : revision.permission.email_address %></td>
            <td class="centered"><%= link_to @resource.links[:alternate_link], :title => 'View on Google' do %><span class="fi-download"></span> <% end %> |
              <% if revision.has_local_resource? %>
                  <%= link_to revision.local_resource_path_web, :title => 'Download local version' do %><span class="fi-archive"></span><% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p><i>No revisions could be found!</i></p>
<% end %>

<div id="modal" class="reveal-modal" data-reveal>
  <div id="modalContent"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<%= link_to 'back', monitored_resource_path(@resource.monitored_resource_id), :class => 'button secondary tiny' %>