<% content_for :title, 'List of Changes for resource' %>
<h2>Resource: <%= @resource.title %> <small>(<%= @resource.mime_type %>)</small></h2>

<% if @resource.jobs.length > 0 %>
    <div class="callout panel">
      <span class="spin1 spinner"></span><i>Indexing in progress! Currently <%= @resource.jobs.length %> jobs are running.
      <%= link_to "Refresh status!" %></i>
    </div>
<% end %>

<ul>
  <li><b>FileID:</b> <%= @resource.gid %></li>
  <li><b>created_date:</b> <%= @resource.created_date %></li>
  <li><b>modified_date:</b> <%= @resource.modified_date %></li>
  <li><b>last_modifying_username:</b> <%= @resource.last_modifying_username %></li>
  <li><b>Number of Revisions:</b> <%= @resource.revisions.length %>
    <% unless @resource.monitored_resource.permission_groups.nil? %>
    <ul>
      <% @resource.revisions_by_permission_group.each do |id, count| %>
          <li><%= PermissionGroup.find(id).name %>: <%= count %></li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <li><b>Number of collaborators:</b> <%= @resource.collaborators.length %>
    <ul>
      <% @resource.collaborators.each do |id,count| %>
        <li><%= Permission.find(id).title %>: <%= count %></li>
      <% end %>
    </ul>
  </li>
</ul>

<% unless @resource.is_folder? %>
  <h3>Changes List - <small><%= link_to 'refresh', refresh_revisions_monitored_resource_resource_path(@monitored_resource, @resource) %></small></h3>
    <% unless @resource.is_folder? || @resource.revisions.length.eql?(0) %>
        <table>
          <thead>
          <tr>
            <th>Change-ID</th>
            <th>Modification Date</th>
            <th>Last Modifying UserName</th>
          </tr>
          </thead>
          <tbody>
          <% @resource.revisions.each do |revision| %>
              <tr>
                <td><%= revision.gid %></td>
                <td><%= revision.modified_date.to_s(:db) %></td>
                <td><%= revision.permission.email_address.blank? ? revision.permission.name : revision.permission.email_address %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p><i>No revisions could be found!</i></p>
    <% end %>
<%end %>

<%= link_to 'back', monitored_resource_path(@resource.monitored_resource_id), :class => 'button secondary tiny' %>