<% content_for :title, 'List of Changes for resource' %>
<h2>Resource: <%= @resource.title %></h2>

<ul>
  <li><b>FileID:</b> <%= @resource.gid %></li>
  <li><b>created_date:</b> <%= @resource.created_date %></li>
  <li><b>modified_date:</b> <%= @resource.modified_date %></li>
  <li><b>last_modifying_username:</b> <%= @resource.last_modifying_username %></li>
  <li><b>Number of Revisions:</b> <%= @resource.revisions.length %></li>
  <li><b>Number of collaborators:</b> <%= @resource.collaborators %></li>
</ul>

<h3>Changes List</h3>
<% unless @resource.revisions.length.eql?(0) %>
    <table>
      <thead>
      <tr>
        <th>Change-ID</th>
        <th>Modification Date</th>
        <th>Last Modifying UserName</th>
      </tr>
      </thead>
      <tbody>
      <% @resource.revisions.each do |revision| %>
          <tr>
            <td><%= revision.gid %></td>
            <td><%= revision.modified_date.to_s(:db) %></td>
            <td><%= revision.permission.email_address.blank? ? revision.permission.name : revision.permission.email_address %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p><i>No revisions could be found!</i></p>
<% end %>