<% content_for :title, "Report for #{@monitored_resource.title}" %>

<h2>Report for: <%= @monitored_resource.title %></h2>

<span class="has-tip" title="This will only generate reports that have not been generated1" data-tooltip>
    <%= link_to "Generate Reports", generate_monitored_resource_reports_path(@monitored_resource), :class => 'button tiny' %>
</span>
<span class="has-tip" title="This will delete all reports for a monitored resource" data-tooltip>
    <%= link_to "Delete reports", remove_monitored_resource_reports_path(@monitored_resource), :class => 'button tiny' %>
</span>

<span class="has-tip" title="This will redraw all charts" data-tooltip>
    <a href="#" class="button tiny secondary draw-charts">Draw Charts</a>
</span>

<h4>Reports by period</h4>
<% if @monitored_resource.jobs.length > 0 %>
    <div class="callout panel">
      <span class="spin1 spinner"></span><i>Indexing in progress! Currently <%= @monitored_resource.jobs.length %> jobs are running.
      <%= link_to "Refresh status!" %></i>
    </div>
<% end %>

<% unless @monitored_resource.reports.blank? %>
    <% chart_value_sets = Hash.new %>

    <dl id="report-tabs" class="tabs" data-tab>
      <% @period_groups.each_with_index do |period_group, index| %>
        <%
           group_icon = "<span class=\"fi-#{period_group.logo_class}\"></span> ".html_safe
        %>
        <dd <%= 'class="active"'.html_safe if index == 0 %>>
          <a class="report-tab-link" href="#panel2-<%= index %>"><span class="fi-<%= period_group.logo_class %>"></span> <%= period_group.name %> (<%= period_group.monitored_periods.length %>)</a>
        </dd>
      <% end %>
    </dl>
    <div class="tabs-content">
      <% @period_groups.each_with_index do |period_group, index| %>

          <div class="report-tab content<%= ' active' if index == 0 %>" id="panel2-<%= index %>">
            <table>
              <thead class="analytics">
              <tr>
                <th>Name</th>
                <% period_group.monitored_periods.each_with_index do |period,j| %>

                    <th <%= 'class="reference"'.html_safe if j.eql? 0  %>><a class="active-report-col" href="#period-<%= j+1 %>"><%= period.name %></a></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% report = @monitored_resource.report_for_period_group(period_group) %>
              <% report.data.each do |k, chapter| %>
                <% unless chapter[:name].blank? %>
                  <tr>
                    <td class="table-new-chapter" colspan="<%= period_group.monitored_periods.length+1 %>"><%= chapter[:name] %></td>
                  </tr>
                <% end %>
                <% chapter[:values].each_with_index do |section,seci| %>
                      <% unless section[:name].blank? %>
                          <tr>
                            <td></td>
                            <td class="table-new-section" colspan="<%= period_group.monitored_periods.length %>"><%= section[:name] %></td>
                          </tr>
                      <% end %>
                      <% section[:values].each_with_index do |metric,mini| %>
                        <tr>
                          <td><% if metric[:type] == 'METRIC' %><b><%= metric[:name] %></b><% else %><%= metric[:name] %><% end %></td>
                          <% metric[:values].each_with_index do |value,l| %>
                            <% classes = (l.eql? 0) ? 'reference ' : '' %>
                            <% classes += value.is_a?(Array) ? '' : 'isnumber' %>
                            <td class="<%= classes %>">
                              <% if value.is_a?(Array) %>
                                  <% chart_id = "columnchart_#{report.id}_#{seci}_#{mini}_#{l}" %>
                                  <% chart_value_sets[chart_id] = value %>
                                  <div id="<%= chart_id %>" class="report-pie-chart" style="width: 200px; height: 200px;"></div>
                              <% else %>
                                <%= value %>
                              <% end %>
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawCharts);

        function drawCharts() {
            var data = new Array();
            <% chart_value_sets.each do |key,values| %>
                <% if values.length > 0 %>
                data['<%= key %>'] = [
                    ['Mime-Type', 'Occurence', { role: 'style' }],
                    <% values.each do |set| %>
                    <%= set.to_s.html_safe %>,
                    <% end %>
                ];
                <% end %>
            <% end %>

            $(".tabs-content .active div.report-pie-chart").each(function() {
                var id = $(this).attr('id');
                if (data.hasOwnProperty(id)) {
                    drawChart(data[id], id);
                }
            });
        }

        function drawChart(values, id) {
            //console.log(id);
            var data = google.visualization.arrayToDataTable(values);
            var options = {
                legend: { position: 'none' }
            };
            var chart = new google.visualization.PieChart(document.getElementById(id));
            chart.draw(data, options);
        }
    </script>
<% end %>
