<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= favicon_link_tag "favicon.ico" %>

  <title>GDrive Feed: <%= content_for?(:title) ? yield(:title) : "" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= image_tag("gdrive-logo.svg", :alt => "Google Drive", :width => '35') %> Goolge Drive Changes</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <%= render_navigation(:context => :user) %>
  </section>
</nav>
<!-- Main Page Content and Sidebar -->

<div class="sidebar small-2 columns">
  <% if user_signed_in? %>
  <h5>Monitored Resources</h5>
  <nav>
    <%= render_navigation %>
  </nav>
  <% end %>
</div>
<div class="small-10 columns content">
  <!-- sub-navigation //-->
  <% if !@monitored_resource.blank? and @resource.blank? %>
      <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
          <dt>Monitored Resource:</dt>
          <dd class="<%= 'active' if current_page?( monitored_resource_url(@monitored_resource)) %>">
            <%= link_to 'List Files', monitored_resource_path(@monitored_resource) %>
          </dd>
          <dd class="<%= 'active' if current_page?( monitored_resource_permissions_url(@monitored_resource) ) %>">
            <%= link_to 'Permissions', monitored_resource_permissions_path(@monitored_resource) %>
          </dd>
          <dd class="<%= 'active' if current_page?( monitored_resource_permission_groups_url(@monitored_resource) ) %>">
            <%= link_to 'Permission Groups', monitored_resource_permission_groups_path(@monitored_resource) %>
          </dd>
          <dd class="<%= 'active' if current_page?( monitored_resource_reports_url(@monitored_resource) ) %>">
            <%= link_to 'Reports', monitored_resource_reports_path(@monitored_resource) %>
          </dd>
        </dl>
      </div>
  <% elsif !@monitored_resource.blank? && !@resource.blank? %>
      <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
          <dt>Resource:</dt>
          <dd class="<%= 'active' if current_page?( monitored_resource_path(@monitored_resource)) %>">
            <%= link_to '« back', monitored_resource_path(@monitored_resource) %>
          </dd>
          <% if false %>
          <dd class="<%= 'active' if current_page?( refresh_revisions_monitored_resource_resource_path(@monitored_resource, @resource) ) %>">
            <%= link_to 'Refresh Revisions', refresh_revisions_monitored_resource_resource_path(@monitored_resource, @resource) %>
          </dd>
          <dd class="<%= 'active' if current_page?( download_revisions_monitored_resource_resource_path(@monitored_resource, @resource) ) %>">
            <%= link_to 'Download Revisions', download_revisions_monitored_resource_resource_path(@monitored_resource, @resource) %>
          </dd>
          <% end %>
          <dd class="<%= 'active' if current_page?( calculate_diffs_monitored_resource_resource_path(@monitored_resource, @resource) ) %>">
            <%= link_to 'Calculate Diffs', calculate_diffs_monitored_resource_resource_path(@monitored_resource, @resource) %>
          </dd>
          <dd class="<%= 'active' if current_page?( merge_revisions_monitored_resource_resource_path(@monitored_resource, @resource) ) %>">
            <%= link_to 'Merge Weak Revisions', merge_revisions_monitored_resource_resource_path(@monitored_resource, @resource) %>
          </dd>
          <dd class="<%= 'active' if current_page?( find_collaborations_monitored_resource_resource_path(@monitored_resource, @resource) ) %>">
            <%= link_to 'Find Collaborations', find_collaborations_monitored_resource_resource_path(@monitored_resource, @resource) %>
          </dd>
        </dl>
      </div>
  <% end %>

  <% if flash[:notice] %>
      <div data-alert class="alert-box info radius">
        <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>
  <% if flash[:warning] %>
      <div data-alert class="alert-box warning radius">
        <%= flash[:warning] %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>
  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>